<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap
    align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">Census List</h2>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Census Year</th>
                    <th scope="col">Census Taker Name</th>
                    <th scope="col">Number of People Household</th>
                    <th scope="col">Household State</th>
                    <th scope="col">Household City</th>
                    <th scope="col">ZipCode</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let census of Census; let i = index">
                    <th scope="row">{{census._id}}</th>
                    <td>{{census.year}}</td>
                    <td>{{census.name}}</td>
                    <td>{{census.householdNum}}</td>
                    <td>{{census.state}}</td>
                    <td>{{census.city}}</td>
                    <td>{{census.zipcode}}</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-primary"
                        (click)="onDelete(census._id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
